{# src/KSH/BibeBundle/Resources/views/Biberon/add.html.twig #}

{% extends "KSHBibeBundle::layout.html.twig" %}  
        
{% block body %}
<div class="pageheader">
	<div class="media">
		<div class="pageicon pull-left">
			<i class="fa fa-pencil"></i>
		</div>
		<div class="media-body">
			<h4>Ajouter un biberon</h4>
		</div>
	</div>
</div>

<div>
	<br/>
	{{ include("KSHBibeBundle:Biberon:form.html.twig") }}
	{{ parent() }}
</div>
{% endblock %}
